<footer>
  <div class="container">
    <div class="footer__nav">
      <div class="footer__wrapper">
        <div class="footer-contacts">
          <h5>КОНТАКТИ</h5>
          <a href="tel:+88043339983">+8(804) 333-99-83</a><br>
          <a style="color: white; text-decoration: none;font-size: 12px;" href="#">Залишити заявку</a><br>
          <a style="color: #6dab7b; text-decoration: none;font-size: 12px;" href="https://api.whatsapp.com/send/?phone=79062840088&text&app_absent=0">написати в WHATSAPP</a>
        </div>

      </div>

    </div>
    <div class="footer__nav">
      <div class="footer__wrapper">
        <nav class="footer-navigation">
          <ul>
            <li>Головна</li>
            <li>Блог</li>
            <li>Відгуки</li>
            <li>Франшиза</li>
            <li>Оптовим покупцям</li>
            <li>Популярні запитання</li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer__nav">
      <div class="footer__wrapper">
        <div class="footer-icons">
          <div style="width: 45px; height: 45px; border-radius: 50%; background-color: #00F26D; font-size: 30px; text-align: center "><a href="https://api.whatsapp.com/send/?phone=79062840088&text&app_absent=0" style="text-decoration: none; color: white" class="fab fa-whatsapp"></a></div>
          <div style="width: 45px; height: 45px; border-radius: 50%; background-color: #FD0000; font-size: 30px; text-align: center"><a href="https://www.youtube.com/channel/UC7gTQ7KCxRaO-fDcWsTe3kw/videos" style="text-decoration: none; color: white" class="fab fa-youtube"></a></div>
          <div style="width: 45px; height: 45px; border-radius: 50%; background-color: #FF6600; font-size: 30px; text-align: center"><a href="https://ok.ru/pletenev" style="text-decoration: none; color: white" class="fab fa-odnoklassniki"></a></div>
          <div style="width: 45px; height: 45px; border-radius: 50%; background-color: #48719D; font-size: 30px; text-align: center"><a href="https://vk.com/pletenev" style="text-decoration: none; color: white" class="fab fa-vk"></a></div>
          <div style="width: 45px; height: 45px; border-radius: 50%; background-color: #ff0051; font-size: 30px; text-align: center"><a href="https://www.instagram.com/podvesnoe_kreslo_pletenev/" style="text-decoration: none; color: white" class="fab fa-instagram"></a></div>
        </div>
      </div>
    </div>
    <div class="footer__footer">
      <hr>
      <div class="footer__wrapper">
      <div class="footer-footer"><a href="https://c66ca3.creatium.site/privacy" style="text-decoration: none; color: white; font-size: 12px">Політика конфіденціальності</a></div>
      <div class="footer-footer"><img src="/assets/img/nav/logo.png" alt="logo"></div>
      <div class="footer-footer">
        <span style="color: #727272">ІП Іван Іванов <br>IНН 123 456 789 <br>ОРГ 123 456 789</span>
      </div>
    </div>
    </div>
  </div>
</footer>
