<div class="nav">
  <div class="wrapper">
    <div class="nav__logo"><img src="/assets/img/nav/logo.png" alt="logo"></div>
    <nav class="nav__navigation">
      <ul>
        <li><a href="#">ГОЛОВНА</a></li>
        <li><a href="#">АКЦІЇ</a></li>
        <li><a href="#">ПРО НАС</a></li>
        <li><a href="#">КАТАЛОГ</a></li>
        <li><a href="#">ВІДПРАВЛЕННЯ</a></li>
      </ul>
    </nav>
    <div class="nav__contact">
      <a href="tel:+88043339983">+8(804) 333-99-83</a><br>
      <a style="color: white; text-decoration: none;font-size: 12px;" href="#">Залишити заявку</a><br>
      <a style="color: #6dab7b; text-decoration: none;font-size: 12px;" href="https://api.whatsapp.com/send/?phone=79062840088&text&app_absent=0">написати в WHATSAPP</a>
    </div>
  </div>
</div>
