.nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  background-color: #24272c;
  color: white;
  position: sticky;

  .nav__navigation {
    width: 50%;
    margin-top: 35px;

    ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      font-size: 12px;

      a {
        text-decoration: none;
        color: white;

        &:hover {
          cursor: pointer;
          color: #e2973f;
          transition: .3s;
        }
      }
    }
  }

  .nav__contact {
    width: 30%;
    text-align: center;
    padding: 10px;
  }

  .nav__logo {
    padding: 20px;
  }
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1040px) {
  .nav {
    .nav__navigation {
      ul {
        font-size: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1040px) {
  .nav {
    position: static;
    height: 300px;

    .nav__navigation {
      width: 100%;

      ul {
        font-size: 12px;
      }
    }

    .nav__logo {
      width: auto;
      margin: auto;
    }

    .nav__contact {
      width: 100%;
    }
  }

  .container {
    width: 50%;
    flex-direction: column;
  }
}

@media only screen and (max-width: 780px) {
  .container {
    width: 65%;
  }
}

@media only screen and (max-width: 620px) {
  .container {
    width: 75%;
  }
}

@media only screen and (max-width: 555px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .nav {
    .nav__navigation {
      ul {
        font-size: 10px;
      }
    }
  }
}
